//Fonts
$font-family: Georgia, 'Times New Roman', Times, serif;

//Colours 
$color-title-favorites: black;
$color-container-favorites: pink;
$color-father: lightcoral;
$color-border-favorites: lightseagreen;
$color-container-results: lightseagreen;

