<main>
  <form class="js-form">
    <input type="text" class="tittle-search js-tittle-search" />
    <button class="button-search js-button">Buscar</button>
    <button class="button-reset js-button-reset">Reset</button>
  </form>
  <section class="series js-series">
    <aside class="container-father-favorites js-container-father-favorites">
      <div class="favorites-series js-favorites-series"></div>
    </aside>
    <aside class="container-father-results">
      <div class="results js-results"></div>
    </aside>
  </section>
</main>
